body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-wrapper{
  width:900px;
  height:60vh
}

.posts-table{
  width:100%;
}

.posts-table th.left,
.posts-table td.left {
  text-align: left;
}

.posts-table th.right,
.posts-table td.right {
  text-align: right;
}

.posts-table .title{
  max-width: 350px;
}